.navbar {
  height: 2.75rem;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  color: #cccccc;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  /* padding: 0, 2rem, 0, 2rem; */
  font-size: 0.7rem;
  margin-left: 15%;
  margin-right: 15%;
  cursor: pointer;
}
ul li {
  padding: 1.1rem;
}

ul li:hover {
  color: white;
}

/*
    #333333
    #e34140
    #b3d38d--#c0759c


*/
