.navbar {
  height: 2.75rem;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 98%;
  top: 0;
  z-index: 9999;
}
/* filter: blur(1px); */
/* {
  -webkit-backdrop-filter: none;
  backdrop-filter:;
  -webkit-transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
    height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
  transition: background 0.44s 0.2s cubic-bezier(0.52, 0.16, 0.24, 1),
    height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);
} */
ul {
  color: #cccccc;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  /* padding: 0, 2rem, 0, 2rem; */
  font-size: 0.7rem;
  margin-left: 15%;
  margin-right: 15%;
  cursor: pointer;
}
ul li {
  padding: 1.1rem;
}

ul li:hover {
  color: white;
}

.logo_image {
  height: 1rem;
  width: 1rem;
}
img:hover {
  color: white;
}

/*
    #333333
    #e34140
    #b3d38d--#c0759c


*/
